[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg

package-name = Products.CMFContentPanels
package-directory = Products/CMFContentPanels

extensions = buildout.eggtractor
tractor-src-directory =
	.
	src

parts += 
	omelette
	releaser
	test
#	xmltest
	coverage
	report
	zopepy
	sphinxbuilder
	sphinxupload


[instance]
eggs +=
    PILwoTK
    Products.PdbDebugMode
    Products.PrintingMailHost
    Sphinx
    Sphinx-PyPI-upload
    repoze.sphinx.autointerface
    iw.debug
    collective.portlet.content

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:package-name} [test]
defaults = ['--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/src'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${instance:location}/lib/python ./

#[xmltest]
#recipe = collective.xmltestreport
#eggs = ${buildout:package-name} [test]
#defaults = ['--auto-color', '--auto-progress']

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
interpreter = ${buildout:directory}/bin/zopepy
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs/_build
outputs =
	html
	latex
	pdf

[sphinxupload]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    bin/zopepy setup.py upload_sphinx
output = ${buildout:directory}/bin/sphinxupload
mode = 755

